body {
  font-family: 'Figtree', sans-serif;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/******************** HEADER ********************/

header {
}

.main-nav {
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-element {
  padding: 1em;
  font-size: 1.25em;
}

.nav-link {

}

.nav-icon {
  width: 20%;
}

#nav-home {

}

#nav-bouffeBox {
  /* display: none; */
}

#nav-beachBox {
  /* display: none; */
}

#nav-bakeryBox {

}

#nav-contact {

}

@media screen and (min-width: 768px) {
  .nav-burgermenu {
    display: none;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-icon {
    width: 30%;
    display: block;
    margin: auto;
  }
}


/******************** HOME PAGE ********************/

.home {

}

.img-banner {
  background-color: royalblue;
  width: 100vw;
}

.title {
  text-align: center;
  color: white;
  background-color: #00AD37;
  padding: 1em;
}

.delivery-details {
  text-align: center;
}

h2 {
  margin-top: 1em;
  text-align: center;
  color: #00AD37;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin-top: 0.75em;
}

.box {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.menus {
  width: 270px;
  height: 270px;
  margin: 0.5em auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

#bouffeBox {
  background-image: url("../img/bouffe/bouffe-test.jpg");
}

#beachBox {
  background-image: url("../img/beach/beach-test.jpg");
}

#bakeryBox {
  background-image: url("../img/bakery/bakery-test.jpg");
}

.menus a {
  padding: 0.5em;
  background-color: rgb(0, 0, 0, 0.5);
}

.toCome {
  display: block;
  z-index: -1;
  background-image: url("../img/toCome.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 270px;
  height: 270px;
}

.toCome a {
  position: relative;
  background-color: transparent;
  font-weight: 400;
  color: rgb(190, 190, 190);
  /* text-transform: lowercase; */
  font-size: 0.75em;
  top: 140px;
}

.separator {
  width: 100vw;
  margin: 1em 0;
}

@media screen and (min-width: 768px) {
  .box {
    display: flex;
    flex-direction: row;
  }
}

/******************** BOUFFE PAGE ********************/

/******************** BEACH PAGE ********************/

/******************** BAKERY PAGE ********************/

.bakery {

}

.bakery-title {
  
}

.bakery-list {
  list-style-type: none;
  padding: 0;
}

.bakery-element {
  font-weight: 500;
  font-size: 1.25em;
  border-bottom: solid #00AD37 1px;
  padding: 0.75em 0;
}

.bakery-element--list {
  list-style-type: square;
  padding-left: 1em;
}

.bakery-element--flavor {
  font-weight: 400;
  padding-top: 0.5em;
}

.price {
  color: #00AD37;
  float: right;
  font-weight: 500;
  font-size: 1em;
}

.individually {
  font-weight: 300;
  font-size: 0.75em;
}

.pie {
  display: block;
  padding: 0.25em;
  padding-left: 0;
}

.ingredients {
  display: inline-block;
  font-weight: 300;
  font-size: 0.75em;
}

@media screen and (min-width: 768px) {
  .bakery {
    background-image: url("../img/bakery/gateau.jpg");
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: 100% auto; */
  }
  .bakery-list {
    width: 50%;
  }
}

/******************** CONTACT PAGE ********************/

/******************** FOOTER ********************/

.backToTop {
  display: inline-block;
  border: solid #00AD37;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
}

.backToTop-arrow {
  font-weight: 800;
  font-size: 2em;
  color: #00AD37;
}

footer {
  background-color: #00AD37;
  color: white;
  padding: 0.5em;
}

.footer-title {

}

.footer-text {

}

.footer-list {
  list-style-type: none;
  padding: 0;
}

#footer-left {
  border-top: solid white 1px;
}

#footer-right {
  border-top: solid white 1px;
}

.footer-element {
  padding: 0.5em 0;
}

.footer-icon {
  font-size: 1.5em;
}

#footer-email {

}

#footer-phone .footer-icon {
  font-size: 1em;
}

#footer-address {

}

@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }

  .footer-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #footer-right, #footer-left {
    width: 50%;
    border-top: none;
  }

  #footer-right {
    border-left: solid white 1px;
    padding-left: 0.5em;
  }
}
